input[type='checkbox'] {
  display: none;
}

button {
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-custom {
  border: 1px solid darkslateblue;
  color: darkslateblue;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px;

  &:hover {
    cursor: pointer;
  }
}

input[type='checkbox']:checked + .btn-custom {
  border: 1px solid darkslateblue;
  background-color: darkslateblue;
  color: #fff;
}
.float-l {
  float: left;
}
